@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}


.body{
    background-color: black;
}
.app-body{
    font-family: 'IBM Plex Mono',serif;
    position: relative;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    height: 100%;
    margin: 0;
    background-color: transparent; /* Set background color to transparent */
    overflow: hidden;
}

.app-body::before,
.app-body::after,
.left-right-fade{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 255, .5), black); /* Adjust colors as needed */
    pointer-events: none;
    z-index: -1;
}

.app-body::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 255, .5), black);
}

.app-body::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 255, .5), black);
}

.left-right-fade {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 255, .5), black); /* Adjust colors as needed */
    pointer-events: none; /* Ensures the nested div doesn't interfere with pointer events */
    z-index: -2;

}